{% extends 'base.html.twig' %}

{% block title %}Hello AceuilController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="title center"> Bienvenue sur votre espace vous allez pouvoir creer profil</h1>
 <a type="button" class="btn btn-primary" href="{{ path('eleve_new') }}">creer mon profil</a>
</div>
{% endblock %}
